.widget
  .author-info
    a.info-avatar(href='/about/', title= __('about'))
      img.nofancybox(src=theme.info.avatar)
    if theme.info.name
      p.info-name= theme.info.name
    p #{theme.info.discription}
    - for (var i in theme.info.outlinkitem)
      - var item = theme.info.outlinkitem[i]
      - var iconName = item.name
      - var iconClass = 'fa-' + iconName
      a.info-icon(href=item.outlink, title=item.message, target='_blank', style='margin-inline:5px')
        i.fa(class=iconClass, style='margin-inline:5px')
